*~

# DigiESP/Eclipse CDT specifics
Debug/
Release/

# Automake build specifics
build/

# XCode specifics
*.xcuserstate
xcuserdata/

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4